body {
  text-align: center;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
h1 {
  margin-top: 50px;
  font-size: 48px;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  color: #680747;
}
.api-name {
  color: #6643b5;
}
p {
  font-size: 13px;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
  margin-top: -20px;
}

form {
  margin: 30px auto;
  padding: 20px;
  max-width: 465px;
  max-height: 300px;
  /* max-width: 500px;
  max-height: 600px; */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: block;
}
.hint {
  margin-left: -260px;
  opacity: 0.5;
  font-size: 13px;
  margin-top: 5px;
}
a {
  color: #6643b5;
}
.topic {
  padding: 15px;
  width: 60%;
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  /* border-style: none; */
  border: 1px solid rgba(39, 33, 66, 0.5);
}
.search {
  padding: 15px;
  width: 25%;
  font-size: 15px;
  background-color: #cbbcf6;
  border-radius: 30px;
  border-style: none;
  margin-left: 5px;
  font-weight: 700;
  border: 1px solid #cbbcf6;
}
.quotes {
  max-width: 508px;
  max-height: 600px;
  font-display: flex;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}
h2 {
  font-family: "Merriweather", serif;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  color: #000000;
  line-height: 2;
  font-style: italic;
  font-size: 20px;
  /* word-wrap: break-word; */
}
.hidden {
  /* display: none; */
  font-family: "Merriweather", serif;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  color: #000000;
  line-height: 2;
  font-style: italic;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  /* border-top: 1px solid rgba(39, 33, 66, 0.08); */
  padding: 10px 0 0 0;
  margin: 10px;
  font-size: 12px;
  text-align: center;
  color: rgba(33, 26, 51, 0.5);
}
